<div class="flex flex-col gap-5">
    <app-title-content title="Configurations - Walmart" subtitle="Config"/>

    <div class="flex flex-col gap-10">
        <div>
            <app-title-content title="Email"/>
    
            <div class="flex gap-10 mt-5">
                <app-input-lock [formGroup]="form" controlName="user" label="User email"/>            
                <app-input-lock [formGroup]="form" controlName="password" label="User email password" typeData="password"/>            
            </div>
        </div>    

        <div>
            <app-title-content title="User"/>
    
            <div class="flex gap-10 mt-5">
                <app-input-lock [formGroup]="form" controlName="user" label="User email"/>            
                <app-input-lock [formGroup]="form" controlName="password" label="User email password" typeData="password"/>            
            </div>
        </div>    

        <div class="flex justify-end">
            <button class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground">
              Guardar Configuracion
            </button>
        </div>
    </div>


</div>