<div class="flex h-screen w-screen">
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <!-- <img src="./assets/images/auth-screens.png" alt="dashboard widget" /> -->
      <div class="flex justify-center items-center gap-3">
        <svg-icon src="assets/icons/deathicon.svg" [svgClass]="'h-20 w-20'"> </svg-icon>
        <div class="text-3xl pl-3 font-bold text-foreground">
          Reportes App
        </div>
      </div>
      <h1 class="text-4xl font-bold">"Fast, Efficient, and Productive"</h1>
      <p class="text-xs font-light">
        Nuestra plataforma de reportes está diseñada para brindarte una experiencia rápida y eficiente, permitiéndote
        generar informes detallados en cuestión de minutos. Simplificamos el proceso de recolección y análisis de datos,
        ayudándote a tomar decisiones informadas con precisión.
        <span class="cursor-pointer font-medium text-yellow-400">Optimiza</span> tu flujo de trabajo, automatiza tareas repetitivas y 
        accede a información clave desde cualquier lugar. Con nuestras herramientas, podrás
        enfocarte en lo que realmente importa: tomar decisiones inteligentes basadas en datos.
        <span class="cursor-pointer font-medium text-yellow-400">Explora más</span> y descubre cómo podemos mejorar tu productividad.
      </p>

    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-background">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <svg-icon src="assets/icons/deathicon.svg" [svgClass]="'h-8 w-8'"> </svg-icon>
        <b class="text-md pl-3 font-bold text-foreground"> Reportes App </b>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
